<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>万能转换支持的文件</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
				<string>public.movie</string>
				<string>public.audio</string>
				<string>public.pdf</string>
				<string>public.plain-text</string>
				<string>public.html</string>
				<string>public.rtf</string>
				<string>public.json</string>
				<string>public.xml</string>
				<string>public.comma-separated-values-text</string>
				<string>com.apple.property-list</string>
				<string>org.openxmlformats.wordprocessingml.document</string>
				<string>org.idpf.epub-container</string>
				<string>net.daringfireball.markdown</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
